@import "tailwindcss";
@plugin "daisyui";

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-rubik), sans-serif;
}
p {
  font-family: var(--font-questrial), sans-serif;
  font-size: 14px;
  
}
span{
  font-family: var(--font-questrial), sans-serif;
}
.highlight{
  color: #749B3F;
}
.highlight_bg{
  background-color: rgba(116, 155, 63, 0.1);
}
.btn_color{
  color: #FF6A1A;
}
.lite_font{
  color: #4A4A52;
}
.slick-dots li button:before {
  color: #749B3F !important ;
  font-size: 16px  !important;
}

